body {
    background: #346830;
    color: #211a28;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 720px;
    height: 480px;
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9c233;
    text-decoration: none;
}

h2 {
    color: #f9c233;
}